/*
mobile menu:

Header
    Creative Studio logo - Hamburger menu svg
    background {
    width: 320px;
    height: 105px;
    filter: drop-shadow(0px 3px 3px #dadcdc);
    background-color: #ecf9f6;
    }
    Each menu option {
    width: 206px;
    height: 24px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #191654;
    font-weight: 300;
    font-family: "Rubik";
    }
    Each menu option:hover {
    color: #43c6ac;
    }
    border under each menu option {
    width: 320px;
    height: 2px;
    border-radius: 1px;
    background-color: #43c6ac;
    }
    Search
        icon
        input {
        width: 299px;
        height: 39px;
        border-radius: 10px;
        background-color: #1a212b;
        border: 0.24px solid #191654;
        }
*/

/*
Home - mobile view

Banner
    gradient background {
    width: 321px;
height: 705px;
background-image: linear-gradient(238deg, #43c5ab 0%, #2e6d7f 50%, #191553 100%);
    }
    heading: we are creative {
    font-size: 48px;
line-height: 58px;
text-transform: uppercase;
color: #ecf9f6;
font-weight: 400;
font-family: "Monoton";
    }
    paragraph: we are multi {
    width: 301px;
height: 159px;
font-size: 18px;
line-height: 27px;
color: #ecf9f6;
font-weight: 300;
font-family: "Rubik";
    }
    button filled - let's work text {
    font-size: 21px;
line-height: 21px;
text-transform: uppercase;
color: #191654;
font-weight: 400;
font-family: "Rubik";
    }
    button filled - let's work background {
    width: 297px;
height: 60px;
border-radius: 5px;
background-color: #43c6ac;
    }
button filled - let's work:hover {
text -->
font-size: 21px;
line-height: 21px;
text-transform: uppercase;
color: #191654;
font-weight: 400;
font-family: "Rubik";

btn --> 
width: 297px;
height: 60px;
border-radius: 5px;
background-color: #ecf9f6;
}
button outline - view work text {
color: #43c6ac;
    }
button outline - view work background {
border: 3px solid #43c6ac;
} 
button outline - view work:hover {
text -->
font-size: 21px;
line-height: 21px;
text-transform: uppercase;
color: #ecf9f6;
font-weight: 400;
font-family: "Rubik";

btn --> 
width: 299px;
height: 60px;
border-radius: 5px;
background-color: #43c6ac;
border: 3px solid #43c6ac;
}

Our work
    heading text {
    width: 257px;
height: 39px;
font-size: 36px;
line-height: 43px;
text-transform: uppercase;
color: #191654;
font-weight: 400;
font-family: "Monoton";
    }
    heading underline {
    width: 230px;
height: 2px;
background-color: #191654;
border: 2px solid #43c6ac;
    }

    text - we will partner {
    width: 299px;
height: 71px;
font-size: 18px;
line-height: 27px;
color: #0c0b2a;
font-weight: 300;
font-family: "Rubik";
    }

    Horizontal scroll
        row 1 {
        
        }
*/

:root {
    /** colours **/
    --yellow: #FED766;
    --lt-seafoam-green: #ecf9f6;
    --seafoam-green: #43C6AC;
    --md-blue: #191654;
    --dk-blue: #0C0B2A;
    --blue-grey: #6B717E;

    /** typography **/
    --headings: 'Monoton', cursive;
    --body: 'Rubik', sans-serif;
}

.sr-only {
    position: absolute;
    top: 0;
    left: -9999999px;
    width: 0.1rem;
    height: 0.1rem;
    visibility: hidden;
}




/* Universal Styles */

body {
    background-color: var(--lt-seafoam-green);
    font: 1rem/1.5 var(--body);
}

/* Typography */

h1,
h2 {
    font-family: var(--headings)
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: var(--lt-seafoam-green);
    color: var(--white);
    padding: 0.25rem;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    background-image: linear-gradient(60deg, var(--md-blue), var(--seafoam-green));
    background-clip: text;
    color: transparent;
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 2rem;
    padding: 2rem 0;
    position: relative;
    display: inline-block;
}

header .line::before {
    content: "";
    display: block;
    border-bottom: 2px solid var(--md-blue);
    width: 79%;
    position: absolute;
    margin-top: 0.75rem;
    transform: translateX(3rem);
}

header .studio {
    font-family: var(--body);
    font-variant: small-caps;
    letter-spacing: 2rem;
    font-size: 2.5rem;
    padding-left: 3rem;
}

.menu-toggle-button {
    display: flex;
    align-items: center;
    fill: var(--md-blue);
    background-color: var(--lt-seafoam-green);
    border: none;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .inner-container {
    margin: auto;
    max-width: 60rem;
    padding: unset;
}

nav {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-color: var(--lt-seafoam-green);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--seafoam-green);
    line-height: 5rem;
}

nav li:last-of-type {
    border-bottom: none;
    margin-bottom: 3rem;
}

nav a {
    text-decoration: none;
    color: var(--md-blue);
    padding-left: 2rem;
}

nav a:hover {
    color: var(--seafoam-green);
}

nav input {
    width: calc(100% - 2rem);
    margin: 1rem;
    font-size: 2rem;
    border: 1px solid var(--blue-grey);
    background-color: var(--lt-seafoam-green);
    border-radius: 1.5rem;
    padding: 0.25rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: var(--md-blue);
}

.show-nav {
    max-height: unset;
    overflow: visible;
}

/* Hero Banner */
.inner-container-hero {
    max-width: 600px;
    margin-left: 5%;
}

.hero-banner {
    background-image: linear-gradient(238deg, #43c5ab 0%, #2e6d7f 50%, #191553 100%);
    background-size: cover;
    background-position: center;
    color: var(--lt-seafoam-green);
    padding: 5rem 0.5rem;
}

.hero-banner h2 {
    font-size: 3rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 3rem;
}

.hero-banner p {
    margin: 1rem 0;
}

.hero-banner a {
    text-transform: lowercase;
    letter-spacing: 2px;
    padding: 0.75rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    display: block;
    width: 17rem;
    text-align: center;
    margin: 2rem;
}

.hero-banner .btn-lets-work-together {
    color: var(--md-blue);
    background-color: var(--seafoam-green);
}

.hero-banner .btn-lets-work-together:hover {
    background-color: var(--lt-seafoam-green);
}

.hero-banner .btn-view-our-work {
    color: var(--seafoam-green);
    background-color: transparent;
    border: 2px solid var(--seafoam-green);
}

.hero-banner .btn-view-our-work:hover {
    background-color: var(--seafoam-green);
    color: var(--lt-seafoam-green);
}


/* Horizontal Scroll */
.our-work {
    padding: 5rem 0 1rem 1rem;
    color: var(--md-blue);
}

.our-work>h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3rem;
    text-decoration: underline;
    text-decoration-color: var(--seafoam-green);
}

.our-work p {
    padding-top: 1rem;
}

.horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    gap: 0rem;
}

.horizontal-scroll::-webkit-scrollbar {
    height: 0.5rem;
    background-color: white;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background-color: var(--md-blue);
}

.horizontal-scroll .card {
    min-width: 300px;
    background-color: white;
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1;
}

.horizontal-scroll a {
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.horizontal-scroll .card-button-green {
    background-color: var(--seafoam-green);
    color: var(--md-blue);
}

.horizontal-scroll .card-button-green:hover {
    background-color: var(--lt-seafoam-green);
}

.horizontal-scroll .card-button-blue {
    background-color: var(--md-blue);
    color: var(--lt-seafoam-green);
}

.horizontal-scroll .card-button-blue:hover {
    background-color: var(--lt-seafoam-green);
    color: var(--md-blue)
}

/* What we do */
.what-we-do {
    padding: 5rem 0 1rem 1rem;
    color: var(--md-blue);
}

.what-we-do>h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3rem;
    text-decoration: underline;
    text-decoration-color: var(--seafoam-green);
}

.what-we-do p {
    padding-top: 1rem;
}

.btn-outline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 4rem);
    padding: 1rem;
    margin: 2rem;
    border: 3px solid var(--md-blue);
    border-radius: 6px;
    background-color: transparent;
    color: var(--md-blue);
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-outline img {
    margin-left: 0.5rem;
    width: 1rem;
    height: auto;
    filter: invert(8%) sepia(62%) saturate(4146%) hue-rotate(241deg) brightness(87%) contrast(99%);
}

.btn-outline:hover {
    background-color: var(--md-blue);
    color: var(--lt-seafoam-green);
}

.btn-outline:hover img {
    filter: invert(100%) sepia(6%) saturate(3202%) hue-rotate(115deg) brightness(103%) contrast(98%);
}

.service-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.service-card img {
    border-radius: 10px;
    margin-bottom: 2rem;
}

.service-card h3 {
    font-size: 2rem;
    font-weight: 100;
    color: var(--seafoam-green);
    margin-bottom: 1rem;
}

.service-card p {
    color: var(--md-blue);
}

/* Who we are */

.who-we-are {
    padding: 5rem 0 1rem 1rem;
    color: var(--md-blue);
    background-color: var(--seafoam-green);
}

.who-we-are div>h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3rem;
    text-decoration: underline;
    text-decoration-color: var(--lt-seafoam-green);
}

.who-we-are p {
    padding-top: 1rem;
}

.who-we-are>img {
    width: calc(100% - 1rem)
}

/* Footer */
footer {
    background-color: var(--md-blue);
    color: var(--lt-seafoam-green);
    padding: 4rem 0 0 0;
    text-align: left;
}

.our-offices {
    padding: 1rem;
}

.signup-container {
    padding: 1rem;
}

.newsletter-signup {
    display: flex;
    flex-direction: column;
}

.newsletter-signup input {
    padding: 0.75rem;
    margin: 0.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    color: var(--md-blue);
}

.newsletter-signup button {
    background-color: var(--seafoam-green);
    margin: 0.25rem 0.25rem 3rem 0.25rem;
    padding: 0.75rem;
    color: var(--md-blue);
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.newsletter-signup button:hover {
    background-color: var(--lt-seafoam-green);
}

footer h2 {
    font-size: 2;
    margin-bottom: 1rem;
    font-weight: normal;
    text-transform: uppercase;
}

footer .signup-container h3 {
    color: var(--white);
}

footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}

footer ul li {
    margin-bottom: 0;
}

footer ul li a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .disclaimer {
    margin-top: 2rem;
    font-size: 1rem;
    padding: 1rem;
    color: var(--lt-seafoam-green);
    background-color: var(--dk-blue);
}

.disclaimer img {
    filter: invert(100%) sepia(6%) saturate(3202%) hue-rotate(115deg) brightness(103%) contrast(98%);
    height: 60px;
    padding: 10px;
}

.disclaimer div {
    display: flex;
    max-width: 60px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 50rem) {
    .wide-flex {
        display: flex;
        max-width: 60rem;
    }

    .menu-toggle-button {
        display: none;
    }

    nav li {
        font-size: 1rem;
        border-bottom: none;
    }

    nav a {
        padding: 0;
    }

    nav {
        justify-content: space-evenly;
        position: static;
        overflow: visible;
        white-space: nowrap;
    }

    .main-menu {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    .main-menu>li {
        margin: 1rem;
    }

    nav input {
        width: 299px;
        height: 39px;
        font-size: 1rem;
    }

    main>.btn-outline {
        margin-left: 60vw;
        width: 20rem;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .right-column {
        display: grid;
        grid-template-columns: 1fr;
    }

    .first-two {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .right-column>.service-card {
        display: flex;
        flex-direction: row;
    }

    .right-column>.service-card {
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .who-we-are {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer .inner-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}